<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial NodeJs</title>
</head>
<body>
    <h1>Tutorial Node js</h1>
    <p><%= subBab%> <b>NODE js</b></p>
</body>
</html>